soaptest/src/main/resources/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://personservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonService" targetNamespace="http://personservice/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://personservice/" elementFormDefault="unqualified" targetNamespace="http://personservice/" version="1.0">

  <xs:element name="greeting" type="tns:greeting"/>

  <xs:element name="greetingResponse" type="tns:greetingResponse"/>

  <xs:complexType name="greeting">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="greetingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="message">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="greetingResponse">
    <wsdl:part element="tns:greetingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greeting">
    <wsdl:part element="tns:greeting" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonService">
    <wsdl:operation name="greeting">
      <wsdl:input message="tns:greeting" name="greeting">
    </wsdl:input>
      <wsdl:output message="tns:greetingResponse" name="greetingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonServiceSoapBinding" type="tns:PersonService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="greeting">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="greeting">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="greetingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port binding="tns:PersonServiceSoapBinding" name="PersonPort">
      <soap:address location="http://localhost:8080/soaptest/PersonService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>